* {
    border: none;
    border-radius: 0;
    font-family: IosevkaNerdFontMono;
    font-size: 13;
    min-height: 0;
    color: rgba(245, 245, 245, 1.0);
    background-color: rgba(0, 0, 0, 1.0);
}

window#waybar {
    background-color: rgba(0, 0, 0, 1.0);
    border-bottom: 1px solid rgba(16, 16, 32, 1.0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    /* opacity: 0.2; */
}

label.module {
    padding: 0 4;
}

#clock {
}
